<div class="container rounded min-vh-100 shadow-lg bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                    class="font-weight-bold">{{user.first_name}} {{user.last_name}}</span><span class="text-black-50">{{user.role}}</span><span>
                </span></div>
        </div>
        <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Edit Product</h4>
                </div>
                <div *ngIf="err_msg" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> {{err_msg}}
                    <button type="button" class="btn-close" (click)="err_msg=''" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>

                <div *ngIf="succ_msg" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> {{succ_msg}}
                    <button type="button" class="btn-close" (click)="succ_msg=''" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                </div>
                <form class="validate-form w-100 shadow-lg" [formGroup]="productForm" enctype="multipart/form-data"  style="padding-top: 32px;">
                    <h1 class="login100-form-title p-b-5">
                        Edit Product Form
                    </h1>
                    <div class="col-md-8 mx-auto p-3 py-5 w-75 d-flex align-items-center flex-column">
        
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Name</mat-label>
                            <input formControlName="name" matInput placeholder="Product Name" type="text">
                            <mat-icon matSuffix>product</mat-icon>
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Description</mat-label>
                            <input formControlName="description" matInput placeholder="Product Description" type="text">
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Stock Quantity</mat-label>
                            <input formControlName="qte_stock" matInput placeholder="Product Stock Quantity" type="number" >
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                        <div appearance="outline" class="w-full">
                            <mat-checkbox class="example-margin" formControlName="sale" [(ngModel)]="checked">Product Sale</mat-checkbox>
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Sale Amount % </mat-label>
                            <input formControlName="sale_amount"   matInput placeholder="Product Sale Amount %" type="number" min="0" max="90">
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Price</mat-label>
                            <input formControlName="price" matInput placeholder="Product Price" type="number">
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
        
                       <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Image Url</mat-label>
                            <input formControlName="image" matInput placeholder="Product image" type="text">
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
        
                         <div class="login100-form-social flex-c-m  m-2 w-50">
                            <button class="login100-form-btn w-100 bg-warning text-black shadow-lg" (click)="edit_product()">
                                Edit Product 
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>